.page {
  margin-top: 20px;
}

.input-box {
  padding: 10px;
  font-size: 16px;
  width: 60%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.predict-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.predict-btn:hover {
  background: #45a049;
}

.model-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #4a148c;
  text-align: center;
  margin-top: 20px;
}

.model-description {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 1rem;
}

.result-box {
  margin-top: 30px;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}
