.model-card {
  margin-top: 20px;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
